In [52]:
import pandas as pd
import numpy as np

mpg=pd.read_csv('mpg.csv')
mpg
# mpg_displ4=mpg.query('displ<=4')
# mpg_displ5=mpg.query('displ>=5')

# print(mpg_displ4['hwy'].mean())#25.96
# print(mpg_displ5['hwy'].mean())#18.07

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [53]:
mpg_sample=mpg.query('manufacturer in ["chevrolet","ford","honda"]')['hwy']

print(mpg_sample.mean())

22.50943396226415

In [54]:
mpg[['category','cty']].tail()

    category  cty
229  midsize   19
230  midsize   21
231  midsize   16
232  midsize   18
233  midsize   17

In [55]:
mpg_suv=mpg.query('category=="suv"')['cty'].mean()
mpg_compact=mpg.query('category=="compact"')['cty'].mean()

print(mpg_suv)#13.5
print(mpg_compact)#20.12

13.5
20.127659574468087

In [56]:
mpg_audi=mpg.query('manufacturer=="audi"').sort_values('hwy',ascending=False)
mpg_audi.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
9,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact

In [57]:
mpg.loc[[64,123,130,152],'hwy']=np.nan

mpg.isna().sum()

manufacturer    0
model           0
displ           0
year            0
cyl             0
trans           0
drv             0
cty             0
hwy             4
fl              0
category        0
dtype: int64

In [61]:
mpg.isna().sum()
pd.isna(mpg).sum()
mpg[['drv','hwy']].isna().sum()

drv    0
hwy    4
dtype: int64

In [74]:
mpg.dropna(subset='hwy')
mpg['hwy'].mean()#23
mpg['hwy']=mpg['hwy'].fillna(23)

mpg.isna().sum()

manufacturer    0
model           0
displ           0
year            0
cyl             0
trans           0
drv             0
cty             0
hwy             0
fl              0
category        0
dtype: int64

In [81]:
mpg.loc[[9,13,57,92],'drv']="K"
mpg.loc[[28,42,128,202],'cty']=[3,4,39,42]

mpg.tail(35)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
199,toyota,land cruiser wagon 4wd,5.7,2008,8,auto(s6),4,13,18.0,r,suv
200,toyota,toyota tacoma 4wd,2.7,1999,4,manual(m5),4,15,20.0,r,pickup
201,toyota,toyota tacoma 4wd,2.7,1999,4,auto(l4),4,16,20.0,r,pickup
202,toyota,toyota tacoma 4wd,2.7,2008,4,manual(m5),4,42,22.0,r,pickup
203,toyota,toyota tacoma 4wd,3.4,1999,6,manual(m5),4,15,17.0,r,pickup
204,toyota,toyota tacoma 4wd,3.4,1999,6,auto(l4),4,15,19.0,r,pickup
205,toyota,toyota tacoma 4wd,4.0,2008,6,manual(m6),4,15,18.0,r,pickup
206,toyota,toyota tacoma 4wd,4.0,2008,6,auto(l5),4,16,20.0,r,pickup
207,volkswagen,gti,2.0,1999,4,manual(m5),f,21,29.0,r,compact
208,volkswagen,gti,2.0,1999,4,auto(l4),f,19,26.0,r,compact
209,volkswagen,gti,2.0,2008,4,manual(m6),f,21,29.0,p,compact
210,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29.0,p,compact
211,volkswagen,gti,2.8,1999,6,manual(m5),f,17,24.0,r,compact
212,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44.0,d,compact
213,volkswagen,jetta,2.0,1999,4,manual(m5),f,21,29.0,r,compact
214,volkswagen,jetta,2.0,1999,4,auto(l4),f,19,26.0,r,compact
215,volkswagen,jetta,2.0,2008,4,auto(s6),f,22,29.0,p,compact
216,volkswagen,jetta,2.0,2008,4,manual(m6),f,21,29.0,p,compact
217,volkswagen,jetta,2.5,2008,5,auto(s6),f,21,29.0,r,compact
218,volkswagen,jetta,2.5,2008,5,manual(m5),f,21,29.0,r,compact
219,volkswagen,jetta,2.8,1999,6,auto(l4),f,16,23.0,r,compact
220,volkswagen,jetta,2.8,1999,6,manual(m5),f,17,24.0,r,compact
221,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44.0,d,subcompact
222,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41.0,d,subcompact
223,volkswagen,new beetle,2.0,1999,4,manual(m5),f,21,29.0,r,subcompact
224,volkswagen,new beetle,2.0,1999,4,auto(l4),f,19,26.0,r,subcompact
225,volkswagen,new beetle,2.5,2008,5,manual(m5),f,20,28.0,r,subcompact
226,volkswagen,new beetle,2.5,2008,5,auto(s6),f,20,29.0,r,subcompact
227,volkswagen,passat,1.8,1999,4,manual(m5),f,21,29.0,p,midsize
228,volkswagen,passat,1.8,1999,4,auto(l5),f,18,29.0,p,midsize
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28.0,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29.0,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26.0,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26.0,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26.0,p,midsize